body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
}


.app-header {
  background-color: #222;
  padding: 2rem 0;
  text-align: center;
  color: white;
  position: relative;
}

.app-header h1 {
  margin: 0;
}

.app-header a {
  float: none;
  margin-right: 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  background: #353535;
  font-size: 16px;
  padding: 0 1.5em;
  color: white;
}

.app-header a span {
  position: relative;
  top: 35%;
  transform: perspective(1px) translateY(-50%);
}

aside {
  position: fixed;
  top: 50%;
  left: 0;
  background: rgb(92, 92, 92);
  width: 100px;
  padding: 1rem;
}

main {
  max-width: 1060px;
  width: 100%;
  margin: auto;
}

.main-content {
  display: flex;
  justify-content: center;
}

.predicted-number {
  text-align: center;
}

.canvas-controls {
  margin-top: 1rem;
  display: flex;
}

.canvas-controls button {
  width: 100%;
}

.model-toggle {
  text-align: center;
  padding: 2rem 0;
}

main {
  height: 85vh;
}

footer {
  text-align: center;
}

